:root {
    --main-color: #3F51B5;
    --main-border-1: #303F9F;
    --c-color: #616161;

    --c-font: 'PT Serif';
}


/* 모바일용 CSS */
/* 기본 CSS */
.container {
    width: 90%;
    max-width: 1132px;
    margin: 0 auto;
}

.cfixed::after, .container::after {
    display: block;
    content: "";
    clear: both;
}

.sec-tit {
    font-size: 2.625em;
    color: var(--main-color);
    font-weight: normal;
}

.divider {
    width: 90%;
    max-width: 1132px;
    margin: 0 auto;
    margin-top: 77px;
    background: #EEE;   /* hr태그는 보기에는 선으로 보이지만 아주 얇은 사각형이므로 background 로 색을 줄 수 있다.*/
}

.m-divider {
    width: 20px;
    margin: 0 auto;
    margin-top: 77px;
    background: var(--main-color);
}

.blind {
    position: absolute;
    width: 0;   /* 공간도 없앤다. */
    height: 0;
    line-height: 0;
    text-indent: -9999px;   /* 저멀리 치운다. */
    overflow: hidden;
} /* placeholder 에 표기되어 보여지므로 label 태그 사이에 있는 똑같은 내용은 보일 필요가 없어서 안보이게 해주는 것이다. 서로 쌍을 맞추기 위해 처음부터 안 만들 수는 없어서 만들고 숨긴다.  */

/* 모바일 - 헤더 영역 CSS */
.header {
    position: relative;
    padding: 18px 5%;
}

.header .logo {
    float: left;
}

.header .logo a {
    font-size: 1.625em;
    color: var(--main-color);
    font-weight: normal;
}

.header .gnb {
    display: none;  /* 맨 나중에 설정, 안보이다가 햄버거 버튼 클릭시에만 나타나도록 */
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--main-color);
}

.header .gnb li {
    border-bottom: 1px solid var(--main-border-1);
}

.header .gnb li a {
    display: block;  /* inline인 a태그를 block으로 바꿔야 padding등 적용가능 */
    padding: 14px 0 14px 5%;
    color: white;
    font-size: 0.875em;
}

.header .menu-toggle-btn {
    float: right;
    width: 20px;
    cursor: pointer;
    margin-top: 4px;
}

.header .menu-toggle-btn span {
    display: block;  /* inline인 span태그를 block으로 바꾸기 */
    width: 100%;
    height: 2px;
    background: var(--main-color);  /* 이 부분에서 숨겨져 있던 메뉴토글버튼이 보여짐 */
}

.header .menu-toggle-btn span:nth-child(2) {
    margin: 5px 0;  /* 메뉴토글버튼이 햄버거 모양으로 */
}

/* 모바일 - 슬라이더 영역 CSS */
.slider img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* 모바일 - 디스플레이 영역 CSS */
.display-section {
    margin-top: 59px;
    text-align: center;
}

.display-section .sec-tit {
    margin-bottom: 30px;
}

.display-section .desc {
    font-family: var(--c-font);
    color: var(--c-color);
    line-height: 1.9;
}

/* 모바일 - 프로모션 영역 CSS */
.promotion-section {
    margin-top: 68px;
}

.promotion-section .promo-list li {
    margin-top: 52px;
    text-align: center;
}

.promotion-section .promo-list li:first-child {
    margin-top: 0;
}

.promotion-section .promo-list li img {
    height: 52px;
}

.promotion-section .promo-list li h3 {
    margin: 29px 0 20px 0;
    color: var(--main-color);
    font-weight: normal;
}

.promotion-section .promo-list li p {
    font-size: 0.875em;
    font-family: var(--c-font);
    color: var(--c-color);
    line-height: 1.5;
}

/* 모바일 - 최근 작업 영역 CSS */
.work-section {
    margin-top: 73px;
}

.work-section .sec-tit {
    text-align: center;
    margin-bottom: 47px;
}

.work-section .work-list li {
    width: 100%;
}

.work-section .work-list li a {
    display: block;     /* inline인 a태그를 block으로 바꿈 */
    position: relative;
    width: 100%;
    height: 100%;
}

.work-section .work-list li a::before {
    display: block;
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: var(--main-color);
    opacity: 0;

    transition: all 0.2s;

    z-index: 10;
}

.work-section .work-list li a:hover::before {
    opacity: 0.8;
}

.work-section .work-list li .info {
    z-index: 20;
    position: absolute;
    left: 23px;
    opacity: 0;
    transition: all 0.3s;
}

.work-section .work-list li a:hover .info {
    transform: translateY(23px);    /* 마우스 갖다데었을 경우, 위에서 내려오는 듯하게 */
    opacity: 1;    /* 마우스 갖다데었을 경우, 보여지게 */
}

.work-section .work-list li .info h3 {
    margin-bottom: 8px;
    font-size: 1.438em;
    color: #FFF;
    font-weight: normal;
}

.work-section .work-list li .info span {
    font-size: 0.875em;
    color: #FFF;
}

.work-section .work-list li img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* 모바일 - 최근 글 영역(블로그)CSS */
.blog-section {
    margin-top: 77px;
}

.blog-section .sec-tit {
    margin-bottom: 47px;
    text-align: center;
}

.blog-section .blog-list li {
    width: 100%;
    margin-top: 45px;
}

.blog-section .blog-list li:first-child {
    margin-top: 0;
}

.blog-section .blog-list li img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.blog-section .blog-list li time {
    display: block;    /* inline인 time태그를 block으로 바꿈 */
    margin: 11px 0 10px 0;
    font-size: 0.875em;
    color: #9E9E9E;
}

.blog-section .blog-list li h3 {
    color: #424242;
    font-weight: normal;
    line-height: 1.6;
}

/* 모바일 - 연락처 영역 CSS */
.contact-section {
    margin-top: 109px;
}

.contact-section .sec-tit {
    margin-bottom: 47px;
    text-align: center;
}

.contact-section .form-box .form input {
    margin-bottom: 38px;
    padding-bottom: 13px;
}

.contact-section .form-box .textarea textarea {
    height: 162px;
}

.contact-section .form-box .send-btn {
    margin-top: 36px;
    float: right;
}

.contact-section .form-box .send-btn button {
    border: 0;
    background-color: var(--main-color);
    color: #FFF;
    padding: 15px;
    font-family: 'Montserrat';
    cursor: pointer;
}

/* 모바일 - 푸터 영역 CSS */
.footer {
    margin-top: 104px;
}

/* .footer iframe {
    width: 100%;
    height: 320px;
} */

.footer .map-section {
    width: 100%;
    height: 660px;
}

.footer .map-section #map1,
.footer .map-section #map2 {
    width: 100%;
    height: 320px;
}

.footer .map-section #map2 {
    margin-top: 20px;
}

.footer p {
    margin: 21px 0;
    text-align: center;
    color: var(--main-color);
}


/* 태블릿용 CSS */
@media all and (min-width: 768px) {
    /* 기본 CSS */
    .divider {
        margin-top: 124px;
    }

    .m-divider {
        margin-top: 124px;
    }

    /* 태블릿 - 헤더 영역 CSS */
    .header {
        position: static;   /* 모바일에서 position: relative; 였던 것을 변경, 화면상 변화없음 */
        padding: 28px 52px;
    }
    .header .gnb {
        display: block;   /* 모바일에서 display: none;한 것을 변경 */
        position: static;   /* 모바일에서 position: relative; 였던 것을 기본값으로 되돌림 */
        float: right;
        width: auto;    /* 모바일에서 width: 100%; 였던 것을 변경 */
        background: none;
        margin-top: 6px;
    }

    .header .gnb li {
        float: left;
        border-bottom: 0;   /* 모바일에서 준 것 삭제 */
        margin-left: 21px;
    }

    .header .gnb li a {
        color: var(--main-color);
        padding: 0;    /* 모바일에서 준 것 삭제 */
        font-size: 1.000em;
    }

    .header .menu-toggle-btn {
        display: none;    /* 태블릿 환경에서는 햄버거버튼 안보이게 */
    }

    /* 태블릿 - 디스플레이 영역 CSS */
    .display-section {
        margin-top: 95px;
    }

    /* 태블릿 - 프로모션 영역 CSS */
    .promotion-section {
        margin-top: 110px;
    }

    .promotion-section .promo-list li {
        float: left;
        width: 23.04688%;
        margin-left: 2.60416%;
        margin-top: 0;     /* 모바일에서 준 것 삭제 */
    }

    /* 
    태블릿 전체 = 768px
    컨텐츠 4개
    사이 공간은 3개이고 1개의 공간 너비는 20px
    (768-20*3)/4 = 708px/4 = 177px
    컨텐츠 1개당 가로 = 177px -> 177/768*100 = 23.046875%
    공간 1개당 가로 = 20px -> 20/768*100 = 2.604166666666667%   */

    .promotion-section .promo-list li:first-child {
        margin-left: 0;
    }

    /* 태블릿 - 최근 작업 영역 CSS */
    .work-section {
        margin-top: 118px;
    }

    .work-section .sec-tit {
        margin-bottom: 76px;
    }

    .work-section .work-list li {
        float: left;
        width: 50%;
    }

    .work-section .work-list li .info {
        left: 32px;
    }

    .work-section .work-list li a:hover .info {
        transform: translateY(32px); 
    }

    /* 태블릿 - 최근 글 영역(블로그)CSS */
    .blog-section {
        margin-top: 124px;
    }

    .blog-section .sec-tit {
        margin-bottom: 76px;
    }

    .blog-section .blog-list li {
        float: left;
        width: 31.59722%;
        margin-left: 2.60417%;
        margin-top: 0;
    }

    .blog-section .blog-list li:first-child {
        margin-left: 0;
    }

    /* 
    태블릿 전체 = 768px
    블로그 컨텐츠 3개
    사이 공간은 2개이고 1개의 공간 너비는 20px
    (768-20*2)/3 = 728px/3 = 242.6666666666667px
    블로그 컨텐츠 1개당 가로 = 242.6666666666667/768*100 = 31.59722222222222%
    공간 1개당 가로 = 20px -> 20/768*100 = 2.604166666666667%   */

    /* 태블릿 - 연락처 영역 CSS */
    .contact-section {
        margin-top: 200px;
    }

    .contact-section .sec-tit {
        margin-bottom: 76px;
    }

    .contact-section .form-box .form,
    .contact-section .form-box .textarea {
        float: left;
        width: 48.55324%;
    }

    .contact-section .form-box .textarea {
        margin-left: 2.89352%;
    }

    /* 
    태블릿 전체 너비 = 768px
    양쪽에 5%의 빈공간 있음
    -> 실제 너비 : 768*0.9 = 691.2px

    사이의 빈공간 1개 = 20px
    컨텐츠 2개 = (691.2-20)/2 -> 1개당 335.6px

    공간 = 20/691.2*100 = 2.893518518518519%
    컨텐츠 = 335.6/691.2*100 = 48.55324074074074%
    */

    .contact-section .form-box .form input:last-child {
        margin-bottom: 0;    /*  모바일에서 준 것인데 맨 마지막 것만 삭제 */
    }

    /* 태블릿 - 푸터 영역 CSS */
    .footer iframe {
        height: 450px;
    }

    .footer p {
        margin: 34px 0;
    }
}


/* PC용 CSS */
@media all and (min-width: 960px) {
    /* PC - 디스플레이 영역 CSS */
    .display-section {
        text-align: left;
    }

    .display-section .sec-tit {
        width: 45%;
        float: left;
        margin-bottom: 0;    /* 모바일에서 준 것 삭제 */
    }

    .display-section .desc {
        width: 45%;
        float: right;
        position: relative;
        padding-left: 20px;
    }

    .display-section .desc::before {
        display: block;
        content: "";
        position: absolute;
        top: 1px;
        left: 0;
        width: 2px;
        height: 100%;    /* height: 44px; 등으로 숫자로도 가능 */
        background-color: #E0E0E0;
    }

    /* PC - 프로모션 영역 CSS */
    .promotion-section .promo-list li {
        width: 23.4375%;
        margin-left: 2.08333%;
    }

    /* 
    PC 전체 = 960px
    컨텐츠 4개
    사이 공간은 3개이고 1개의 공간 너비는 20px
    (960-20*3)/4 = 900px/4 = 225px
    컨텐츠 1개당 가로 = 225px -> 225/960*100 = 23.4375%
    공간 1개당 가로 = 20px -> 20/960*100 = 2.083333333333333%   */

    /* PC - 최근 작업 영역 CSS */
    .work-section .work-list li {
        width: 25%;
    }

    /* PC - 최근 글 영역(블로그)CSS */
    .blog-section .sec-tit {
        text-align: left;   /* 모바일에서 center로 준것을 변경 */
        float: left;
        width: 30%;
    }

    .blog-section .blog-list {
        float: right;
        width: 70%;
    }

    .blog-section .blog-list li {
        width: 31.12875%;
        margin-left: 3.30688%;
    }
    
    .blog-section .blog-list li:first-child {
        margin-left: 0;
    }

    /*
    PC환경 전체 너비 960px
    사실상(container) 너비 = 960px의 90% = 864px
    현재 블로그 컨텐츠의 너비 = 864px의 70% = 604.8px (좌측 제목 제외)

    604.8px에서 사이 공간은 2개이고 1개의 공간 너비는 20px
    블로그 컨텐츠 3개
    블로그 컨텐츠의 1개당 너비 = (604.8-20*2)/3 = 564.8/3 = 188.2666666666667px

    컨텐츠 = 188.2666666666667/604.8*100 = 31.12874779541446%
    공간 = 20/604.8*100 = 3.306878306878307%    */
    
    /* PC - 연락처 영역 CSS */
    .contact-section .sec-tit {
        float: left;
        width: 30%;
        text-align: left;
        margin-bottom: 0;
    }

    .contact-section .form-box {
        float: right;
        width: 70%;
    }

    .contact-section .form-box .form,
    .contact-section .form-box .textarea {
        width: 48.34656%;
    }

    .contact-section .form-box .textarea {
        margin-left: 3.30688%;
    }

    /*
    PC환경 전체 너비 960px
    사실상(container) 너비 = 960px의 90% = 864px
    현재 컨텐츠의 너비 = 864px의 70% = 604.8px (좌측 제목 제외)

    604.8px에서 사이 공간은 1개이고 1개의 공간 너비는 20px
    컨텐츠 2개
    컨텐츠의 1개당 너비 = (604.8-20)/2 = 584.8/2 = 292.4px

    컨텐츠 = 292.4/604.8*100 = 48.34656084656085%
    공간 = 20/604.8*100 = 3.306878306878307%    */
}