:root {
    --b-color: #ccc;
}

* {
    padding: 0;
    margin: 0;
}

#container {
    width: 1000px;
    max-width: 1000px;
    margin: 0 auto;
}

/* 헤더 영역 CSS */
.header {
    order: 1;
}

.header .hotbar {
    height: 33px;
    border-bottom: 1px solid var(--b-color);
}

.hotbar .hotbar-list {
    display: flex;
    flex-direction: row-reverse;
    font-size: 13px;
}

.hotbar .hotbar-list li a {
    display: block;
    padding: 4px 0 5px 21px;   /* 강사님께서 padding: 6px 0 7px 21px; 으로 조정하셨는데 이상해서 원래대로 두고 line-height: 24px;와 #blog-icon내용 추가해보았습니다.  */
    color: #777;
    line-height: 24px;   /* 33-4-5=24 */
}

#blog-icon {
    position: relative;
    top: 4px;
    right: 3px;
}

.hotbar .hotbar-list li:nth-child(3) a {
    color: #333;
    font-weight: bold;
}

.header .info {
    display: flex;
    justify-content: space-between;
    height: 73px;
}

.info .info-right .mypage-list {
    display: flex;
}

.mypage-list li a {
    display: block;
    text-align: center;
    font-size: 13px;
    color: #333;
}

.mypage-list .mypage-nobox a {
    width: 60px;
    height: 30px;
    line-height: 30px;
    padding: 24px 0;
}

.mypage-list .mypage-box a {
    position: relative;
    width: 71px;
    height: 55px;
    line-height: 55px;
    padding: 24px 0;
}

.mypage-list .mypage-box a::before {
    content: "";
    display: block;
    width: 1px;
    height: 73px;
    background-color: var(--b-color);
    position: absolute;
    top: 0;
    left: -1.6px;   /*아래 gnb와 선을 맞추기 위해 */
}

.mypage-list li:nth-child(4) {
    background: url('../images/s_images/ic_my.gif') center 15px no-repeat;
}

.mypage-list li:nth-child(4) a {
    color: #FD7B28;
}

.mypage-list li:nth-child(5) {
    position: relative;
    background: url('../images/s_images/ic_fmn.gif') center 15px no-repeat;
}

.mypage-list li:nth-child(5) a {
    color: #333;
}

.mypage-list li:nth-child(5)::after {
    content: "";
    display: block;
    width: 1px;
    height: 73px;
    background-color: var(--b-color);
    position: absolute;
    top: 0;
    left: 70px;    
}

.header .gnb-wrap {
    height: 45px;
}

.gnb-wrap .gnb {
    display: flex;
}

.gnb-wrap .gnb li {
    width: 142.8px;   /* 1000/7=142.8571428571429 */
    height: 45px;
    text-align: center;
    line-height: 45px;
}

.gnb-wrap .gnb .gnb-1 {
    background-color: #FD7B28;
    border-left: 1px solid #FF690A;
}

.gnb-wrap .gnb .gnb-2 {
    background-color: #888;
    border-right: 1px solid #A0A0A0;
}

.gnb-wrap .gnb li a {
    color: white;
    font-weight: bold;
    letter-spacing: -1px;   /* 글자의 자간 */
}

/* 슬라이더 영역 CSS */
.slider {
    order: 2;
    height: 357px;
    position: relative;  /* 자식요소에 position: absolute; 를 주기 위해 */
}

.slider .slider-img {
    height: 100%;
    background: url(../images/p_images/IT_메인_경진대회.png) rgb(245, 232, 201);
}

.slider .slider-page {
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 327px;
}

.slider .slider-page span {
    display: block;
    float: left;
    background: url(../images/s_images/pagi_off.png) no-repeat;
    width: 14px;
    height: 14px;
    margin-right: 3px;
}

.slider .slider-left-btn {
    width: 64px;
    height: 64px;
    position: absolute;
    top: calc(50% - 32px);
    left: -100px;
    /* display: flex;
    align-items: center; */
    background: url(../images/s_images/btn_left_arr.png) no-repeat center center;
}

.slider .slider-right-btn {
    width: 64px;
    height: 64px;
    position: absolute;
    top: calc(50% - 32px);
    right: -100px;
    /* display: flex;
    align-items: center; */
    background: url(../images/s_images/btn_right_arr.png) no-repeat center center;
}

.slider .slider-left-btn span,
.slider .slider-right-btn span {
    display: none;
    width: 64px;
    height: 64px;
    background-color: rgba(100, 100, 100, 0.2);
    border-radius: 50%;
}

.slider .slider-left-btn:hover span, 
.slider .slider-right-btn:hover span {
    display: block;
}

/* 프로모션 영역 CSS */
.promotion {
    order: 3;
    height: 115px;
}

.promotion .promo-list {
    display: flex;
}

.promotion .promo-list li {
    width: 166.66666px;    /* 1000/6=166.166.6666666666667 */
    height: 115px;
    text-align: center;
    position: relative;
}

.promo-list li:not(:last-child)::after {
    content: "";
    width: 1px;        /* 가상선택자로 선 넣기 */
    height: 70px;
    background-color: var(--b-color);
    position: absolute;
    top: 32px;
    right: 0;
}

.promo-list li a {
    display: block;   /* inline 요소를 block 요소로 바꿈 */
    color: #333;
}

.promo-list li a span {
    display: block;   /* inline 요소를 block 요소로 바꿈 */
    padding-top: 85px;
    font-size: 15px;
}

.promo-list li:nth-child(1) {
    background: url(../images/p_images/m_qmenu_ic1.gif) center 22px no-repeat;
}

.promo-list li:nth-child(2) {
    background: url(../images/p_images/m_qmenu_ic2.gif) center 22px no-repeat;
}

.promo-list li:nth-child(3) {
    background: url(../images/p_images/m_qmenu_ic4_1.gif) center 22px no-repeat;
}

.promo-list li:nth-child(4) {
    background: url(../images/p_images/m_qmenu_ic5.gif) center 22px no-repeat;
}

.promo-list li:nth-child(5) {
    background: url(../images/p_images/m_qmenu_ic7.png) center 22px no-repeat;
}

.promo-list li:nth-child(6) {
    background: url(../images/p_images/m_qmenu_ic8.png) center 22px no-repeat;
}

/* 컨텐츠 영역 CSS */
.c1 {
    order: 4;
    display: flex;
    height: 466px;
    background-color: hotpink;
}

.c1 .c1-left {
    width: 308px;
    padding: 25px 0 19px 0;
    background-color: indigo;
}

.c1 .c1-left .plan {
    height: 212px;
    margin-right: 25px;
    background-color: midnightblue;
}

.c1 .c1-left .academy {
    height: 188px;
    margin: 22px 25px 0 0;
    background-color: navajowhite;
}

.c1 .c1-mid {
    width: 403px;
    padding: 25px 0 19px 0;
    background-color: khaki;
}

.c1 .c1-mid .blog {
    height: 212px;
    margin-right: 24px;
    background-color: olive;
}

.c1 .c1-mid .sample {
    height: 188px;
    margin: 22px 24px 0 0;
    background-color: pink;
}

.c1 .c1-right {
    width: 289px;
    padding: 25px 0 19px 0;  /* 466-441=25,  441-422=19 */
    background-color: lawngreen;
}

.c1 .c1-right .recruit {
    height: 422px;   /* 212+188+22=422 */
    background-color: red;
}

/* 컨텐츠 2영역 CSS */
.c2 {
    order: 5;
    display: flex;
    height: 218.39px;
    margin-bottom: 50px;
    background-color: salmon;
}

.c2 .contact {
    width: 283px;
    margin: 25px 25px 0 0;
    background-color: thistle;
}

.c2 .question {
    width: 477px;  /* 1+20+435+20+1=477 */  /* 477+10=487 */
    height: 180px;
    margin: 27px 10px 0 0;   
    background-color: violet;
}

.c2 .social {
    width: 205px;   /* 283+25+477+10+205=1000 */
    height: 180px;
    margin-top: 27px;
    background-color: wheat;
}

/* 푸터 영역 CSS */
.footer {
    order: 6;
    height: 422px;
    padding: 25px 0 30px 0;
    border-top: 1px solid var(--b-color);
    background-color: yellowgreen;
}

.footer .copyright {
    display: flex;
    height: 232px;
    margin-bottom: 10px;
    background-color: aquamarine;
}

.footer .copyright .business {
    width: 668px;
    background-color: brown;
}

.footer .copyright .guarantee {
    width: 258px;
    height: 140px;
    padding: 0 0 23px 23px;
    border-left: 1px solid var(--b-color);
    background-color: cornflowerblue;
}

.footer .banner {
    height: 140px;
    padding: 20px 0 20px 0;
    background-color: darkgray;
}